[Unit]
After=network.service
Description="TradeSkillMaster - Tauri"

[Service]
WorkingDirectory=/root/tsm-appdata/dist
ExecStart=/usr/bin/node index.js

Restart=always
RestartSec=3

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tsm

[Install]
WantedBy=multi-user.target














